copyright: Copyright &copy; 2024 Matthew Shaw
edit_uri: edit/main/docs/
repo_url: https://github.com/matthew-shaw/mkdocs
site_author: Matthew Shaw
site_description: A pre-configured MkDocs Material site template
site_name: MkDocs Template
site_url: https://matthew-shaw.github.io/mkdocs
watch:
  - includes

validation:
  absolute_links: warn
  anchors: warn
  omitted_files: warn
  unrecognized_links: warn

nav:
  - Home:
      - index.md
      - tags.md
  - Blog:
      - blog/index.md

theme:
  name: material
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference
  features:
    - content.action.edit
    - content.action.view
    - content.tooltips
    - navigation.footer
    - navigation.indexes
    - navigation.instant
    - navigation.instant.progress
    - navigation.sections
    - navigation.tabs
    - navigation.top
    - search.highlight
    - search.share
    - search.suggest

plugins:
  - blog:
      blog_toc: true
  - git-committers:
      repository: matthew-shaw/mkdocs
      branch: main
  - git-revision-date-localized:
      enable_creation_date: true
  - minify:
      minify_html: true
      minify_js: true
      htmlmin_opts:
        remove_comments: true
      cache_safe: true
      js_files:
        - javascripts/tablesort.js
  - rss:
      match_path: "blog/posts/.*"
      date_from_meta:
        as_creation: date.created
        as_update: date.updated
  - search
  - social
  - tags:
      tags_file: tags.md

markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.snippets:
      auto_append:
        - includes/abbreviations.md
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - tables

extra:
  social:
    - icon: fontawesome/brands/bluesky
      link: https://bsky.app/profile/mash85.bsky.social
    - icon: fontawesome/brands/github
      link: https://github.com/matthew-shaw
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/matthew-shaw
    - icon: fontawesome/brands/mastodon
      link: https://mastodon.me.uk/@mash
    - icon: fontawesome/brands/x-twitter
      link: https://x.com/MattShaw85

extra_javascript:
  - https://unpkg.com/tablesort@5.3.0/dist/tablesort.min.js
  - javascripts/tablesort.js
